style.
  *, *:before, *:after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html, body, main {
    height: 100%;
  }

  body {
    background: #{theme.gray.base};
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    cursor: url(#{asset("cursor.svg")}), default
  }

  .selectable {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
  }
  ::selection, ::-moz-selection {
    background: #{theme.black}
    color: #{theme.teal.light};
  }
