json("../../resources/theme.json")

[data-component="pane"]
  background white
  border 3px solid gray-light
  box-shadow rgba(0, 0, 0, 0.1) -3px 4px 0
  flex-flow column
  overflow auto
  min-width 450px
  width 50vw
  position absolute
  resize both
  transform translate3d(0,0,0)
  will-change top, left

  &.react-draggable-dragging
    box-shadow none

  &.prominent:not(.maximized)
    left 25%
    top 25%
    width 100vw
    height 100vh

  &.maximized
    left 0 !important
    top 0 !important
    width 100% !important
    height calc(100% - 36px) !important // Consideration for taskbar
    border-width 1px
    resize none

  & > header
    align-items center
    flex-direction row
    flex-shrink 1
    justify-content space-between
    padding 2px 5px
    background-color teal-light

  & > header .primary-details
    background-image url("../../../assets/images/dotted.png")
    background-size 2px
    background-repeat repeat
    display inline-flex
    flex-grow: 1
    flex-direction row
    height 100%
    justify-content center
    padding 0 60px

    .title
      background-color teal-light
      font-family font-serif
      font-size text-small
      padding 0 10px

  .actions
    flex-direction row
    margin-left 5px

    .action
      padding 0 4px

      &:hover
        background-color rgba(0, 0, 0, 0.1)

      &:active
        transform: translateY(1px)
        background-color rgba(0, 0, 0, 0.3)

  .body
    background-color white
    flex-grow 1
    flex-shrink 1
    height 50vh
    overflow scroll
    overflow-x hidden
    padding 10px

  .connection-status
    flex-shrink 0
    padding-left 10px
    margin-right 18px
