@import "~normalize.css/normalize.css"
json("./resources/theme.json")

*, *:before, *:after
 box-sizing border-box

html, body, main
 height: 100%

body
  background gray-base
  cursor url("../assets/images/cursor.svg"), default

  color black
  font-family font-sans-serif
  font-size text-regular
  font-smoothing antialiased
  font-variant-ligatures common-ligatures
  line-height 1.45

  user-select none

[data-component], header, section, aside, footer
  display flex
  flex-direction: column
  align-items: stretch
  flex-shrink: 0

h1, h2, h3, h4, h5
  font-family font-serif

a, .link
  color: black
  cursor: inherit
  text-decoration none

  border-bottom 1px solid lighten(black, 50%)

  &:hover
    background-color rgba(0, 0, 0, 0.1)

  &:active
    background-color rgba(0, 0, 0, 0.3)

.scanlines
  background-size 8px
  background-image repeating-linear-gradient(
    to bottom,
    transparent 0,
    transparent 1px,
    rgba(80,80,80,0.05) 1px,
    rgba(80,80,80,0.05) 2px)

  display block

  z-index 20
  position absolute
  top 0
  left 0

  width 100%
  height 100%

  pointer-events none

body:not(.dragging) [data-selectable]
  user-select text

::selection
  background: black
  color: teal-light

::-moz-selection
  background: black
  color: teal-light

.body::-webkit-scrollbar
  width: 14px

.body::-webkit-scrollbar-track
  background-color lighten(gray-lightest, 80%)
  background-image url("../assets/images/dotted.png")
  background-size 2px
  background-repeat repeat

.body::-webkit-scrollbar-thumb
  background-image url("../assets/images/dotted.png")
  background-color teal-light
  background-size 2px
  background-repeat repeat
  outline: 2px solid gray-base

.body::-webkit-scrollbar-corner
  background-image url("../assets/images/dotted.png")
  background-color lighten(teal-light, 50%)
  background-size 2px
  background-repeat repeat
