@import "nib"
json("theme.json")

*, *:before, *:after
  box-sizing border-box

*
  margin 0
  padding 0

html, body
  height: 100%

main
  height 100%

body
  background gray-base
  cursor default
  font-smoothing antialiased
  text-rendering optimizeLegibility
  user-select none

.selectable
  user-select all

::selection
  background: black
  color: teal-light

::-moz-selection
  background: black
  color: teal-light
